/target
.DS_Store
.env
**/**/*.hbc
**/**/index.android.bundle
junk
.notes.md
input_data
obsidian-out
**/obsidian-export.rs
**/gen.rs
docs
TODO.md
*.hexpat
!helpers/*.hexpat
*.txt

# mini kitchen sink apps for testing - no need to push this publicly
wasm
ts
foo
string_merging
examples/string_merge*
examples/merge*
src/bin/decompile
decompiler